@using BooksBlog.ViewModels;
@model IEnumerable<GuestPostViewModel>


<header class="intro-header" style="background-image: url('/Images/bookshelf.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Category: @Model.First().Category.Name</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        @foreach (var post in Model)
            {
            <div class="post-preview">
                <a href="../Info/@post.Id">
                    <h2 class="post-title">
                        @post.Title
                    </h2>
                    <h3 class="post-subtitle">
                        @Html.Raw(post.Content)
                    </h3>
                </a>
                <p class="post-meta">Comments: @post.Comments.Count</p>
            </div>
                <hr>
        }
    </div>
    </div>
